html,
body {
    color: #365e6a;
    background: #bee187;
    font: 400 14px Arial
}

#root {
    max-width: 450px;
    display: block;
    margin: auto;
}

h1 {
    margin: 20px 0 30px 0;
    text-align: center;
}

form {
    display: inline-flex;
    flex: 5;
}

.form,
.li {
    display: flex;
    justify-content: space-around;
}

.input {
    box-sizing: border-box;
    flex: 1;
    border: 1px solid black;
    border-radius: 4px;
    font: 400 14px Arial;
    width: 200px;
}

.text {
    margin: auto;
    padding-left: 3px;
    flex: 5;
}

.text p {
    display: inline-flex;
    margin: auto;
}

.list {
    padding: 0px;
    list-style: none;
}

.button {
    font: 400 14px Arial;
    padding: 6px 12px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
    width: 80px;
    min-width: 80px;
}

.input-for-rename::placeholder {
    color: red;
}